/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L        - 1 - */
/* L        - 2 - */
/* L        - 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :                                    rgb(0, 0, 0)
Red (left column, left title, FA, Name) :         rgb(199, 0, 10)
Mid gray (Left BG title) :                        rgb(44, 44, 44)
Light gray (Contact desc, Left desc, FA loisir) : rgb(180, 180, 180)
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
body{
    color: rgb(0, 0, 0) ; 
    font-family: "Dosis" , sans-serif;
    font-size: 1.2rem;
}

/* police header */
#noms{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

#prenom{
    color: rgb(199, 0, 10);
}

.title{
    font-weight: bold;
    font-size: 1.5em;
}

#weight-N{
    font-weight: normal;
}

.red_title{
    color: rgb(199, 0, 10);
    text-align: center;
    background-color: rgb(44, 44, 44);
    padding: 0.5em 0 0.5em 0;
}

#section_red{
    color:rgb(180, 180, 180);
}
/* police contact */
.contact_link,
.contact_link:visited{
    color: rgb(180, 180, 180);
    text-decoration: none;
    word-break: break-all;
}

.contact_link:hover{
    font-weight: bold;
    text-decoration: underline;
}

/* FA titre des articles */
.fa_rouge{
    font-size: 1.5em;
    color:rgb(199, 0, 10);
}
/* FA cercles a cote des dates */
.f-size_L {
    font-size: 1.2em;
    font-weight: bold;
}

.circle_sizeM{
    font-size: 1.2em;
    color:rgb(199, 0, 10);
}


/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
#bloc-page {
    max-width: 1920px;
    margin: auto;
}

/*     FLEX:       */
.flex{
    display: flex;
}

/*     Positionnement des pricipaux bloc   */
/* Justify / align  / display / position   */
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}

.d-inlineBlock{
    display: inline-block;
}

.v-alignTop{
    vertical-align: top;
}

.v-alignTextTop{
    vertical-align: text-top;
}

/* def base hr */
.hr{
    content: '';
    height: 1.5px;
    background: rgb(199, 0, 10);
}


/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

/*     Navigation      */

/*     Menu burger  (hidden in descktop display)    */
.burger__checkbox{
    position: absolute;
    opacity: 0;
}

.menu__list {
    display: none;
}

/* header br */
.hr_main_header{
    width: 8rem;
}

/* ---------------------------------------- */
/* ==     SECTION ROUGE. desktop: gauche / mobile: bas    */
/*---------------------------------------- */
#section_red{
    background-color:rgb(199, 0, 10);
    width: 25%;
    position: relative;
}
.pad_text{
    padding: 0 1em;
}
/*     sous partie: fig picture of me    */
#fig_pic{
    width: 80%;
    transform: translateX(10%);
    border-radius: 50%;
}

/*     sous partie: div A propos de moi    */

/*     sous partie: div loisir    */
#bloc-loisirs{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.fa__hobbies__circle{
    font-size: 2em;
    padding: 1rem;
    border: 2px solid rgb(44, 44, 44); 
    border-radius: 50%;
    margin: 1rem;
}
    /* make hiking logo round */
.fa__hobbies__hike{
    padding: 1rem 1.2rem 1rem 1.2rem;
}

/* ---------------------------------------- */
/* ==  SECTION BLANCHE. descktop: droite / mobile: haut    */
/*---------------------------------------- */
#div_white{
    width: 65%;
    padding: 5%;
}

.head-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(199, 0, 10);
}

.tittle_white {
    width: 94%;
    /* display: inline-block;
    margin: 2em 0 0 1em;
    */
} 

.article_white{
    position: relative;
    align-items: center;
}

.dates{
    margin: 1em;
}



/*     sous partie      */

/*     sous partie      */


/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */


/* -- Plus petit que 670px de largeur -- */
@media screen and (max-width: 670px)  {

    /*--------------------------*/
    /* -----  menu Burger ----- */   
    .burger__cross:hover {
        cursor: pointer;
    }
    
    .burger__cross {
        position: fixed;
        top: 20px;
        right: 40px;
        height: 20px;
        width: 30px; 
        z-index: 10;
    }
    
    .burger__cross__line {
        position: absolute;
        width: 100%;
        height: 5px;
        top: 50%;
        margin-top: -1px;
        right: 0;
        display: block;
        background:  rgb(199, 0, 10);
        transition: .5s;
    }
    
    .burger__cross__line:first-child {
        top: 0px; 
    }
    
    .burger__cross__line:last-child {
        top: 22px; 
    }
    
    /* animation burger -> croix */
    
    .burger__checkbox:checked + .burger__cross .burger__cross__line {
        opacity: 0;
        top: 50%;
    }
    
    .burger__checkbox:checked + .burger__cross .burger__cross__line:first-child {
        opacity: 1;
        transform: rotate(45deg);
    }
    
    .burger__checkbox:checked + .burger__cross .burger__cross__line:last-child {
        opacity: 1;
        transform: rotate(-45deg);
    }
    
    
    /* nav/menu caché à droite */
    .menu {
        background: rgb(100, 247, 137); 
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 1px;
        z-index: 3;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;
        visibility: hidden;
        transition-timing-function: ease;
    }
    
    /*  nav__ul  */
    /* ------------------ WORK HERE  mettre en forme l'intérieur du menu burger--------------- */
    .menu__list {
        position: absolute;
        top: 1rem;
        z-index: 5;
        margin: auto;
        display: block;
    }

     .menu__list__elem{
        text-decoration: none;
    }

    /*
    .menu__list__elem:hover {
        box-shadow: none;
    }     */


    /*  nav__ul__li__a */
    .menu__list__elem__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #000000;
        font-weight: 700;
        display: block;
        padding: 5px;
        transform: translateY(0%);
    }
    
    /* menu déployer */
    .burger__checkbox:checked ~ .menu { 
        height: 55%;
        width: 55%;
        transition-delay: 0s;
        z-index: 2;
        visibility: visible;
        box-shadow: inset 5px -5px 5px 0px rgb(199, 0, 10);
    }
    .burger__checkbox:checked ~ .menu__list { 
        display: block;
    }


    
    /* ----- Fin burger ----- */
    /*--------------------------*/
    
    #bloc-page {
        flex-direction: column-reverse;
    }
    
    #section_red {
        width: 100%;
    }
    
    /* .projects_p0{
        width: auto;
    } */
    
    }
    
    /* -- FIN Plus petit que 670px de largeur -- */
    /*----------------------------------------------------------*/