/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L        - 1 - */
/* L        - 2 - */
/* L        - 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :                                    rgb(0, 0, 0)
Red (left column, left title, FA, Name) :         rgb(199, 0, 10)
Mid gray (Left BG title) :                        rgb(44, 44, 44)
Light gray (Contact desc, Left desc, FA loisir) : rgb(180, 180, 180)
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
body{
    color: rgb(0, 0, 0) ; 
    font-family: "Dosis" , sans-serif;
    font-size: 1.2rem;
}

/* police header */
#noms{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

#prenom{
    color: rgb(199, 0, 10);
}

.title{
    font-weight: bold;
    font-size: 1.5em;
}

#red_title{
    color: rgb(199, 0, 10);
    text-align: center;
    background-color: rgb(44, 44, 44);
    padding: 0.5em 0 0.5em 0;
}

#section_red{
    color:rgb(180, 180, 180);
}
/* police contact */
.contact_link,
.contact_link:visited{
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.contact_link:hover{
    font-weight: bold;
    text-decoration: underline;
}

/* police div blanche */
.fa_rouge{
    font-size: 1.5em;
    color:rgb(199, 0, 10);
}

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/*     FLEX:       */
.flex{
    display: flex;
}

/*     Justify / align  / display    */
.j-center{
    justify-content: center;
}

/* def base hr */
.hr{
    content: '';
    height: 1.5px;
    background: rgb(199, 0, 10);
}


/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

/*     Navigation      */

/*     Menu burger  (hidden in descktop display)    */
.burger__checkbox{
    position: absolute;
    opacity: 0;
}

.menu, .burger__checkbox{
    display: none;
}

/* header br */
.hr_main_header{
    width: 8rem;
}

/* ---------------------------------------- */
/* ==     SECTION ROUGE. desktop: gauche / mobile: bas    */
/*---------------------------------------- */
#section_red{
    background-color:rgb(199, 0, 10);
    width: 25%;
}
.pad_text{
    padding: 0 1em;
}
/*     sous partie: fig picture of me    */
#fig_pic{
    width: 80%;
    transform: translateX(10%);
    border-radius: 50%;
}
/*     sous partie: div Contact      */
#info__contact{
    word-break: break-all;
}
/*     sous partie: div A propos de moi    */

/*     sous partie: div loisir    */
#hobbies_box{

}
.fa__hobbies__circle{
    font-size: 2em;
    padding: 1rem;
    border: 2px solid rgb(44, 44, 44); 
    border-radius: 50%;
    margin: 1rem;
}
    /* make hiking logo round */
.fa__hobbies__hike{
    padding: 1rem 1.2rem 1rem 1.2rem;
}

/* ---------------------------------------- */
/* ==  SECTION BLANCHE. descktop: droite / mobile: haut    */
/*---------------------------------------- */
#div_white{
    width: 70%;
    padding: 5% 0 0 5%;
}

.tittle_white{
    display: inline-block;
    margin: 2em 0 0 1em;
}

.hr_arcticle{
    width: 90%;
    margin: 0.5em 0 0 0;
}

/*     sous partie      */

/*     sous partie      */


/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */
